<div>
  <div *ngIf="this.gif" class="card">
    <iframe
      [src]="gifURL(this.gif?.embed_url)"
      [width]="this.gif.images?.original?.width || '100%'"
      [height]="this.gif.images?.original?.height || '100%'"
      frameBorder="0"
      class="giphy-embed"
      allowFullScreen
    ></iframe>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <div class="mx-auto d-grid gap-2 col-2">
        <button
          type="button"
          class="btn btn-light"
          (click)="handleAddClick(this.gif.id)"
          [hidden]="this.gif.hideAddFavouritesButton"
        >
          <i class="fas fa-heart favourites-icon fa-2x"></i>
        </button>
      </div>
      <div class="mx-auto d-grid gap-2 col-2">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="handleRemoveClick(this.gif.id)"
          [hidden]="this.gif.hideRemoveFavouritesButton"
        >
          <i class="fas fa-trash-alt remove-icon"></i>
        </button>
      </div>
    </small>
  </div>
</div>
