.favourites-icon {
}

.favourites-icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  color: red;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.remove-icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: carry 0.5s;
  color: white;
}

@keyframes carry {
  0% {
    transform: translateY(-5px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
