<div class="input-group">
  <input
    type="text"
    id="app-text-input"
    class="form-control"
    [placeholder]="this.placeholder"
    [(ngModel)]="this.value"
    (ngModelChange)="change($event)"
    (keyup.enter)="enter(this.value)"
  />
  <button
    type="button"
    class="btn bg-transparent text-input-icon"
    [hidden]="this.loading || !this.hasClear || !this.value.length"
  >
    <i class="fa fa-times"></i>
  </button>
  <button
    type="button"
    class="btn bg-transparent text-input-icon"
    [hidden]="!this.loading"
  >
    <app-loader></app-loader>
  </button>
  <ng-content></ng-content>
</div>
