:host >>> ngx-skeleton-loader .loader {
  border-radius: 8px;
  height: 200px;
  width: 300px;
  background-color: #d24191;
  border: 0px solid white;
}

.text-input-icon {
  position: absolute;
  left: 93%;
  /* top: 0; */
  z-index: 100;
}
