<app-header></app-header>
<div
  class="align-items-center mr-auto ml-auto d-flex justify-content-center mt-4 mb-4"
>
  <app-search
    class="w-50"
    (change)="handleSearchChange($event)"
    (blur)="handleSearchBlur($event)"
    (clear)="handleSearchClear()"
    (focus)="handleSearchFocus($event)"
    [loading]="this.loading"
  ></app-search>
</div>
<app-gifs
  *ngIf="this.favouriteGifs"
  [gifs]="this.favouriteGifs"
  (removeFavouritesClickButton)="removeGifFromFavourites($event)"
></app-gifs>
<div>
  <span *ngIf="!this.favouriteGifs.length" class="text-center"
    >Keine Ergebnisse gefunden</span
  >
</div>
<app-footer></app-footer>
