<div class="container-fluid">
  <div *ngIf="this.gifs?.length">
    <div class="card-group">
      <div *ngFor="let gif of this.gifs">
        <div *ngIf="this.loading">
          <div class="card mx-lg-auto">
            <ngx-skeleton-loader
              count="1"
              appearance="line"
              animation="progress-dark"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <div *ngIf="!this.loading" @fadeIn>
          <app-gif [gif]="gif"></app-gif>
        </div>
      </div>
    </div>
  </div>
</div>
