<div class="input-group">
  <input
    type="text"
    class="form-control"
    [placeholder]="this.placeholder"
    [(ngModel)]="this.value"
    (ngModelChange)="handleChange($event)"
    (onBlur)="handleBlur($event)"
    (onFocus)="handleFocus($event)"
  />
  <div class="position-relative">
    <i
      role="button"
      (click)="handleClear()"
      class="fa fa-times position-absolute top-50 end-0 translate-middle-y search-icon"
      [hidden]="this.loading || !this.hasClear || !this.value.length"
    ></i>
  </div>
  <div class="position-relative">
    <app-loader
      class="position-absolute top-50 end-0 translate-middle-y search-icon"
      [hidden]="!this.loading"
    ></app-loader>
  </div>
</div>
